
.App {
  text-align: center;
  margin: 50px;
  padding: 5%;
}
.App.dark-mode{
  background-color: black;
}
.App-header {
  min-height: 20vh; /* Set a smaller min-height for the header */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color:yellow;
}

.App-link {
  color: #61dafb;
}

